{%extends 'base.html'%}


{%block content%}
{% include 'navbar.html'%}
<div class="container-fluid" style="margin-top: 77px;">
    <h1 class="text-center" style="font-family: 'Creepster', cursive;">Projects</h1>
    <div class="row">

        {% for project in projects %}
        {% with go=image.allinfo %}
        <div class="col-xs-6 col-sm-6 col-md-4 card" style="padding-top:1%;margin-top:1%;">
            <img src="{{project.project_image.url}}" class="img-responsive" alt="Image" style="height:300px;width:100%;"
                type="button" class="btn btn-sm btn-outline-primary" id="image{{image.id}}" data-whatever="{{image.id}}"
                data-toggle="modal" data-target="#extraModal{{project.id}}">
            <h5 class="text-center"> {{ project.caption }} </h5>
            <p class="text-center"><strong>By: </strong> {{ project.user.username}} </p>
        </div>
        {%endwith%}
        {% empty %}
        <h3 class="text-center">There No Projects</h3>
        {% endfor %}
    </div>
    
</div>

{% for project in projects %}

<div class="modal fade" id="extraModal{{project.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
        <div class="modal-content " style="background-color: #ececec;width:600px;">
            <div class="modal-header">
                <p class="text-center modal-title" id="imagetitle"><strong>By: </strong> {{ project.user.username}} </p>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body" style="text-align:center">
                <img style="height: 400px; width: 500px;" id="image" class=" rounded text-center"
                    src='{{project.project_image.url}}'> </div>
                    <div class="modal-body" style="text-align:center">

                <p1 id="imageCaption">{{ project.caption }}</p1>
                
            </div>
            <div class="modal-footer">
                <a href="{{project.project_link}}" class="btn btn-success" target="_blank">View project</a>
            </div>
        </div>
    </div>
</div>
{%endfor%}

{%endblock%}
